<app-nav></app-nav>
<div class="container mt-3">
    <div *ngIf="paginatedConsultas && paginatedConsultas.length != 0" >
    <h2>Listado de Consultas</h2>
    <table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
        <th>Paciente</th>
        <th>Documento</th>
        <th>Doctor</th>
        <th>Especialidad</th>
        <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let consulta of paginatedConsultas">
        <ng-container *ngIf="consulta.motivoCancelamiento !== 'OTROS'">
    <td>{{ consulta.paciente.nombre }}</td>
        <td>{{ consulta.paciente.documento }}</td>
        <td>{{ consulta.medico.nombre }}</td>
        <td>{{ consulta.medico.especialidad }}</td>
        <td>{{ formatDate(consulta.data)| date: 'medium' }}</td>
        <td><button class="btn btn-danger" (click)="cancelarConsulta(consulta.id, 'OTROS')">Cancelar</button></td>
    </ng-container>
    </tr>
    </tbody>
    </table>
        <button class="btn btn-dark my-5 mx-2"(click)="previousPage()">Anterior</button>
        <button class="btn btn-dark my-5 mx-2"(click)="nextPage()">Siguiente</button>
    </div>
    <!-- Mostrar mensaje cuando no hay consultas disponibles -->
    <div *ngIf="consultas.length === 0">
        <p>No hay consultas disponibles.</p>
    </div>
</div>