<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="nav-link" routerLink="/login">Iniciar sesion</a>
</nav>
<div @fadeIn class="container mt-4 text-center" >
    <h1>Bienvenido a MedicalApp</h1>
    <p class="m-5">Agenda tu cita médica fácil y rápido.
        <br>
        Regístrate y accede a la lista de doctores y pacientes.
        <br>
        <br>
        <br>
        Desarrollada por Gonzalo Villegas y Henry Perez para el modulo de
        <br>
        Gerencia de Proyectos Informaticos
    </p>
</div>



