<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/index">MedicalApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item active">
        <a class="nav-link" routerLink="/login">Iniciar sesion</a>
        </li>
    </ul>
    </div>
</nav>
<div @fadeIn class="container mt-4 text-center" >
    <h1>Bienvenido a MedicalApp</h1>
    <p class="m-5">Agenda tu cita médica fácil y rápido.
        <br>
        Regístrate y accede a la lista de doctores y pacientes.
        <br>
        <br>
        <br>
        Desarrollada por Gonzalo Villegas y Henry Perez para el modulo de
        <br>
        Gerencia de Proyectos Informaticos
    </p>
</div>



