<app-nav></app-nav>
<div class="container">
    <div>
        <h3>Consulte su cita</h3>
    </div>
    <form [formGroup]= "consulta" >
        <select class="form-select" aria-label="Default select example" formControlName="paciente">
          <option selected disabled>Seleccione el paciente</option>
          <option *ngFor="let paciente of pacientes" [value]="paciente.id">{{ paciente.nombre }}</option>
        </select>
      
        <br>
      
        <select class="form-select" aria-label="Default select example" formControlName="especialidad">
          <option selected disabled>Seleccione especialidad</option>
          <option *ngFor="let doctor of doctores" [value]="doctor.especialidad">{{ doctor.especialidad }}</option>
        </select>
      
        <br>
      
        <label for="startDate">Fecha y hora de inicio</label>
        <input id="startDate" class="form-control" type="datetime-local" formControlName="startDate" />
      
        <br>
      
        <button type="submit" (click)="create()" class="btn btn-primary">Enviar</button>
      </form>

      <br>

      <div *ngIf="mostrarMensajeExito" class="alert alert-success" role="alert">
        ¡Consulta agendada con éxito!
      </div>

      <!-- Agrega esto en tu HTML donde quieras mostrar el mensaje de error -->
        <div *ngIf="mostrarMensajeError" class="alert alert-danger" role="alert">
            El paciente ya tiene una consulta para ese dia
        </div>
</div>
