<app-nav></app-nav>
<div class="container">
    <br>
    <h5>Registro de pacientes</h5>
    <form [formGroup] = "registro">
            
            Nombre: <input class="text-danger" type="text" class="form-control" formControlName="nombre" required >
            Email: <input type="text" class="form-control" formControlName="email" required>
            Telefono: <input type="text" class="form-control" formControlName="telefono" required>
            Documento: <input type="text" class="form-control" formControlName="documento" required>
            <br>
            <div formGroupName="direccion" >
                <h5>Direccion</h5>

                <label for="calle"> Calle:</label>
                <input id="calle" type="text" class="form-control" formControlName="calle" required>

                <label for="distrito">distrito: </label>
                <input id="distrito" type="text" class="form-control" formControlName="distrito" required>

                <label for="ciudad">ciudad: </label>
                <input id="ciudad" type="text" class="form-control" formControlName="ciudad" required>

                <label for="numero">numero: </label>
                <input id="numero" type="text" class="form-control" formControlName="numero" required>

                <label for="complemento">complemento: </label>
                <input id="complemento" type="text" class="form-control" formControlName="complemento" required>

            </div>    
        <br>
        <button type="submit" (click)="onSave()"  class="btn btn-primary">
            Enviar
        </button>
    </form>
</div>
